.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 25px 10px 0 10px;
}

.main__container{
  max-width: 820px;
  margin: 0 auto;
  padding: 0 18px;
}

.main__bottom-container{
  max-width: 275px;
  padding: 0 20px;
  margin: 0 auto;
}

