
@font-face {
  font-family: 'Roboto-900';
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto-700';
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-500';
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}